<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Seqs" type="model.Seqs"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.123.100:3306/test"/>
                <property name="username" value="testuser"/>
                <property name="password" value="5678"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="main/resources/sqlmap/Seqs.xml"/>
    </mappers>
</configuration>
